@keyframes in {
	0% {
		transform: translate(0%);
		opacity: 0;
	}

	100% {
		transform: translate(-100%);
		opacity: 1;
	}
}
@keyframes out {
	0% {
		transform: translate(100%);
		opacity: 1;
	}

	100% {
		transform: translate(0%);
		opacity: 0;
	}
}
.next1 {
	animation: in 1s;
}
.next2 {
	animation: out 1s;
}
@keyframes inn {
	0% {
		transform: translate(0%);
		opacity: 0;
	}

	100% {
		transform: translate(100%);
		opacity: 1;
	}
}
@keyframes outt {
	0% {
		transform: translate(-100%);
		opacity: 1;
	}

	100% {
		transform: translate(0%);
		opacity: 0;
	}
}
.prew1 {
	animation: inn 1s;
}
.prew2 {
	animation: outt 1s;
}